.app-container {
  background-color: #ffffff;
  display: flex;
  background-size: cover;
}
* {
  margin: 0px;
}
.event-container {
  background-color: #323f4b;
  width: 60%;
  padding: 20px;
}
.events-item-container {
  display: flex;
  flex-wrap: wrap;
}
.title {
  color: #ffffff;
}
